langchain==1.2.14
langchain-core==1.2.24
langchain-community==0.4.1
langchain-openai==0.2.14
langchain-text-splitters==1.1.1
langgraph==1.1.4
langgraph-checkpoint==2.1.2
langgraph-prebuilt==1.0.8
langgraph-supervisor==0.0.7
langsmith==0.7.24
streamlit==1.41.1
python-dotenv==1.2.2
openai==1.58.1
pypdf==5.1.0
faiss-cpu==1.13.2
sentence-transformers==5.3.0
huggingface_hub==1.8.0
docx2txt==0.9
pydantic==2.10.6
pydantic-settings==2.13.1
